body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.main-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.tab-container {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
}

.tab {
    overflow: hidden;
    border: 3px solid #ccc;
    background-color: #f1f1f1;
   
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #B7CFDC;
}

.tab button.active {
    background-color:#B7CFDC;
}
.main-heading{
    padding: 20px;

    background-color:#6aabd2;
}
.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 26px;
    background: #6aabd2;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #B7CFDC;
    text-decoration: none;
  }
.tabcontent {
    display: none;
    padding: 20px;
    padding-bottom: 40px;
    border-top: none;
    border: 1px solid #ccc;
    background-color: white;
    animation: fadeEffect 1s;
}

.game-details {
    display: flex;
    align-items: center;
}

.game-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

@keyframes fadeEffect {
    from {opacity: 0;} 
    to {opacity: 1;}
} 
